.input {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__label {
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer;
  }

  &__field {
    display: block;
    border-radius: 4px;
    border: solid 1px var(--light-blue-grey);
    background-color: var(--white-two);
    font-family: Roboto;
    color: var(--charcoal-grey);
    outline: none;
    min-width: 295px;

    &--default {
      background-color: var(--pale-grey);
    }

    &--error {
      border: solid 1px var(--salmon);
      background-color: var(--very-light-pink);
      color: var(--tomato);
      position: relative;
    }

    &:hover {
      filter: brightness(108%);
    }

    &:focus {
      background-color: var(--white-two);
    }

    &:disabled {
      pointer-events: none;
      background-color: var(--pale-grey);
      border: none;
      color: var(--light-grey-blue);
    }
  }
}

.input__symbol--error {
  display: none;
}

.input__field--error + .input__symbol--error {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 12px;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  color: var(--tomato);
  border-radius: 50%;
  border: solid 2px var(--tomato);
}

.tiny {
  font-size: 11px;
  line-height: 1.09;
  letter-spacing: 0.4px;
  padding: 6px 16px;
}

.small {
  font-size: 14px;
  line-height: 1.29;
  padding: 7px 16px;
}

.medium {
  font-size: 14px;
  line-height: 1.29;
  padding: 11px 16px;
}

.big {
  font-size: 14px;
  line-height: 1.29;
  padding: 15px 16px;
}
